$primary-color: rgb(65, 61, 49); 
$secondary-color: #ee991a;  
$show-home-image: true;
$home-image: url(../img/back3.jpg); 
$background-opacity: 0.8;


// Mixin in Sass that has styling for color transition
@mixin easeOut {
    transition: all 1.0s ease-out;
}

// Mixin for adding bg image and image over it with some opacity (psudo element '&:after') 
@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 120%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

// Set Text Color function that changes color of text based on changing background color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}


// Media Query Mixins for responsivnes of page - small, medium large and xtra large devices
// We will add css for that in separate partial (that is _mobile.scss partial)
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}