// Here we are using mixins that we created in _config.scss file

// Widescreens
@include mediaXl {

    // Styling of main page
    body {
        &#bg-img {
            &:after {
                height: 105vh;
            }
        }
    }

    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

#myChart {
    height: 100%;
    width: 100%;
    min-height: 150px;
    min-width: 350px;

}

// Desktops & Laptops
@include mediaLg {

    // Styling of main page
    body {
        &#bg-img {
            &:after {
                height: 115vh;
            }
        }
    }

    main {
        &#home {
            // Devide home page into two areas
            display: grid;
            grid-template-areas:
                'page-title code-biography';
            grid-template-columns: 50% 50%;
            overflow: hidden;

            h1 {
                margin-top: 20vh;
            }
        }
    }

    // Code biography styling
    .code-biography {
        margin-top: 10%;
        margin-right: 0;
        padding-left: 0%;
        font-size: 0.9rem;
    }

    // About Me page styling
    .lg-heading-about {
        font-size: 3.5rem;
    }

    .about-info {
        margin: 0 1.5% 0 1.5%;

        .bio-image {
            max-width: 250px;
            max-height: 250px;
        }

        .bio {
            font-size: 1.1rem;
        }

        .skils {
            font-size: 1rem;
        }

        .job {

            .skils-title {
                font-size: 0.9rem;
            }

            h3 {
                font-style: italic;
                font-size: 1rem;
            }

            h4 {
                color: $secondary-color;
            }

            p {
                font-size: 0.95rem;
            }
        }
    }


    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {

    // Styling of main page
    body {
        &#bg-img {
            &:after {
                height: 205vh;
            }
        }
    }

    // Position text and items on center and sets up margins
    main {
        padding: 5%;
        align-items: center;
        text-align: center;

        &#home {
            display: block;
        }

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    // Code biography styling
    .code-biography {
        margin-top: 10%;
        margin-right: 0;
        padding-left: 5%;
        font-size: 1.1rem;
    }

    // Menu styling
    // Sets up menu items and branding across all screen in width
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        // This is after activating show class
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    // menu items take 75% of screen and after activating come from the side
    .menu-nav {
        height: 60vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;

        .nav-link {
            font-size: 1.2rem;
        }
    }

    // menu branding takes 25% of screen and after activating come from the side
    .menu-branding {
        height: 40vh;
        transform: translate3d(100%, 0, 0);

        // Setting profile image for smaller screen
        .portrait {
            background: url('../img/Profile-small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    // About me page for md devices
    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'skils'
            'radar-chart'
            'job1'
            'job2';
        grid-template-columns: 1fr;
        margin: 0 1.5% 0 1.5%;

        .bio-image {
            max-width: 250px;
            max-height: 250px;
        }

        .bio {
            font-size: 1.1rem;
        }

        .skils {
            font-size: 1rem;
        }

        .radar-container {
            margin: auto;
            text-align: center;
        }

        .radar-chart {
            grid-area: radar-chart;
        }

        #myChart {
            grid-area: radar-chart;
            height: 400px;
            width: 400px;
        }

        .job {
            text-align: left;

            .skils-title {
                font-size: 0.9rem;
            }

            h3 {
                text-align: center;
                font-style: italic;
                font-size: 1rem;
            }

            h4 {
                color: $secondary-color;
            }

            p {
                font-size: 0.95rem;
            }
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Other Smartphones
@include mediaSm {

    // Styling of main page
    body {
        &#bg-img {
            &:after {
                height: 140vh;
            }
        }
    }

    main {
        padding: 0.75rem;

        &#home {
            display: block;
        }

        #home h1 {
            margin-top: 7vh;
        }

        .lg-heading {
            margin-top: 1rem;
            font-size: 4.5rem;
        }

        .sm-heading {
            font-size: 1.2rem;
        }
    }

    // Code biography part of main page
    .code-biography {
        text-align: left;
        width: 100%;
        margin-top: 10%;
        margin-right: 0;
        padding-left: 0;
        font-size: 0.9rem;
    }

    // Menu styling
    .menu {
        &-branding {
            height: 40vh;
        }

        &-nav {
            height: 60vh;
        }

        .nav-link {
            font-size: 1.1rem;
        }
    }

    // About me page for md devices
    .lg-heading-about {
        font-size: 3rem;
    }

    .about-info {
        margin: 0 1% 0 1%;

        .bio-image {
            max-width: 240px;
            max-height: 240px;
        }

        .bio {
            font-size: 0.9rem;
        }

        .skils {
            font-size: 0.9rem;
        }

        .radar-container {
            margin: auto;
            text-align: center;
        }

        .radar-chart {
            grid-area: radar-chart;
        }

        #myChart {
            grid-area: radar-chart;
            height: 350px;
            width: 350px;
        }

        .job {
            text-align: left;

            .skils-title {
                font-size: 0.9rem;
            }

            h3 {
                text-align: center;
                font-style: italic;
                font-size: 1rem;
            }

            h4 {
                color: $secondary-color;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes div {
        font-size: 1.3rem;
    }

    // Footer styling
    #main-footer {
        font-size: 0.7rem;
        padding: 1rem;
        height: auto;
    }
}

// Extra-small Smartphones
@include mediaExSm {

    // Styling of main page
    body {
        &#bg-img {
            &:after {
                height: 140vh;
            }
        }
    }

    main {
        padding: 0.4rem;

        &#home {
            display: block;
        }

        #home h1 {
            margin-top: 7vh;
        }

        .lg-heading {
            margin-top: 1rem;
            font-size: 4.5rem;
        }

        .sm-heading {
            font-size: 1.2rem;
        }
    }

    // Code biography part of main page
    .code-biography {
        text-align: left;
        width: 100%;
        margin-top: 10%;
        margin-right: 0;
        padding-left: 0;
        font-size: 0.8rem;
    }

    // Menu styling
    .menu {
        &-branding {
            height: 40vh;
        }

        &-nav {
            height: 60vh;
        }

        .nav-link {
            font-size: 1rem;
        }
    }

    // About me page for md devices
    .lg-heading-about {
        font-size: 2.7rem;
    }

    .about-info {
        margin: 0 1% 0 1%;

        .bio-image {
            max-width: 220px;
            max-height: 220px;
        }

        .bio {
            font-size: 0.9rem;
        }

        .skils {
            font-size: 0.9rem;
        }

        .radar-container {
            display: none;
        }

        .job {
            text-align: left;

            .skils-title {
                font-size: 0.8rem;
            }

            h3 {
                text-align: center;
                font-style: italic;
                font-size: 1rem;
            }

            h4 {
                color: $secondary-color;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes div {
        font-size: 1.3rem;
    }
}